* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: sans-serif;
    background: #d3d3d3;
}
.clearfix{
    clear: both;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.col-12 {
    max-width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

.main {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.logo-link {
    text-decoration: none;
}
.logo-img {
    width: 200px;
}
.navbar {
    width: 100%;
    background: #333;
}
.list {
    display: flex;
}
.list-item {
    list-style: none;
    padding: 15px;
}
.list-item__link:hover{
    color: red;
}
.list-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
.slider {
    width: 100%;
}
.slide-img {
    width: 100%;
}
.descriptions p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.descriptions p a {
    text-decoration: none;
    color: red;
}
.product {
    margin: 20px -10px;
}
.product-img {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.product-img__left {
    padding-right: 10px;
    box-sizing: border-box;
}
.product-img__left > img{
    /* width: 100%; */
}
.product-img__left-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.product-img__left-item img{
    width: 50%;
}
.product-img__left-item img:nth-child(1){
    padding-right: 20px;
}

.product-img__right {
    padding-left: 10px;
}
.product-img__right img {
    height: 50%;
    width: 100%;
    float: right;
}
.product-img__right img:nth-child(1) {
    padding-bottom: 20px;
    width: 100%;
}
.best-seller {
    /* margin:; */
}
.best-seller .list .product-item {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.best-seller .list {
    margin: 0 -10px;
}
.best-seller .list img {
    width: 100%;
}
.best-seller > h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.best-seller .list .product-item > h1 {
    font-size: 1.8rem;
    margin: 10px 0;
}
.best-seller .list .product-item p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 2rem;
}
.best-seller .list .product-item a {
    padding: 6px 18px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #d64b46;
    background: crimson;
}

.banner{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width: 100%;
}
.banner-item{
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.6);
    top: 40px;
    left: 290px;
}
.banner-item__description p{
    text-align: center;
    font-size: 1rem;
    color: #fff;
}
.banner-item__description{
   margin: auto;
}
.banner-item__description p:nth-child(1){
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.banner-item__description p:nth-child(2){
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.banner-item__description p:nth-child(1){
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.services{
    width: 100%;
    margin-top: 30px;
}
.service{
    width: 600px;
    margin: 0 auto;
    display: flex;
}
.service-item{
    width: 33.33334%;
    text-align: center;
    padding: 0 10px;
}
.service-item img{
    width: 50px;
}
.service-item h1{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.service-item p{
    font-size: 1rem;
}
.footer{
    background: #333333;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}
.footer h1{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.footer p{
    font-size: 1rem;
    line-height: 1.2rem;
}

